# This baseline exists ONLY for src/KB/DocxConverter.php and src/KB/PdfConverter.php (defensive checks that
# stricter stub types call redundant). Do not add entries for any other file.
parameters:
	ignoreErrors:
		-
			message: '#^Offset ''comp_size'' on array\{name\: string, index\: int, crc\: int, size\: int, mtime\: int, comp_size\: int, comp_method\: int, encryption_method\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/KB/DocxConverter.php

		-
			message: '#^Offset ''size'' on array\{name\: string, index\: int, crc\: int, size\: int, mtime\: int, comp_size\: int, comp_method\: int, encryption_method\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/KB/DocxConverter.php

		-
			message: '#^Offset 2 on array\{0\: int\<0, max\>, 1\: int\<0, max\>, 2\: int, 3\: string, mime\: string, channels\?\: int, bits\?\: int\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/KB/DocxConverter.php

		-
			message: '#^Using nullsafe property access "\?\-\>childNodes" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/KB/DocxConverter.php

		-
			message: '#^Offset ''exitcode'' on array\{command\: string, pid\: int, running\: false, signaled\: bool, stopped\: bool, exitcode\: int, termsig\: int, stopsig\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/KB/PdfConverter.php

		-
			message: '#^Offset 2 on array\{0\: int\<0, max\>, 1\: int\<0, max\>, 2\: int, 3\: string, mime\: string, channels\?\: int, bits\?\: int\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/KB/PdfConverter.php

		-
			message: '#^Strict comparison using \!\=\= between null and null will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: src/KB/PdfConverter.php

		-
			message: '#^Strict comparison using \=\=\= between array\{\} and array\{\} will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: src/KB/PdfConverter.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/KB/PdfConverter.php

		-
			message: '#^Anonymous function has an unused use \$lines\.$#'
			identifier: closure.unusedUse
			count: 1
			path: src/KB/PdfConverter.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-array and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/KB/PdfConverter.php
